.main_comment {
    width: 90%;
    box-shadow: 0 0 5px 2px grey;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
}

.commentUser {
    display: flex;
    position: relative;
    align-items: center;
}
.post_menu{
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.commentUserprofile {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    overflow: hidden;
    margin: 0 10px;
}

.commentUserprofile img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.commentUserName{
    font-size: 18px;
    cursor: pointer;
}
.comment_time{
    font-size: 12px;
    color: grey;
}

.comment_hr{
    margin-top:10px;
}
.comment_text{
    padding: 20px;
}