.post {
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin: 30px 0;
}

.postWrapper {
    padding: 10px;
}

.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopLeft {
    display: flex;
    align-items: center;
}

.postProfileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.postUsername {
    font-size: 15px;
    font-weight: 500;
}
.post_menu{
    font-size: 18px;
    color: grey;
    margin-right: 5px;
}

.postDate {
    font-size: 12px;
}

.postImg {
    margin: 20px 0;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.postCenter {
    position: relative;
}

.cancel_icon {
    position: absolute;
    right: 16px;
    font-size: 30px;
    top: 35px;
    color: #c9c9c9;
}

.feed {
    flex: 5.5;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    overflow: auto;
}

.feed::-webkit-scrollbar {
    display: none;
}

.feedWrapper {
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.share {
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.shareWrapper {
    padding: 10px;
}

.shareTop {
    display: flex;
    align-items: center;
}

.shareProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.shareInput {
    font-size: 16px;
    border: none;
    width: 80%;
    outline: none;
}

.shareHr {
    margin: 20px;
}

.shareBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shareOptions {
    margin-left: 20px;
}


.shareButton {
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: green;
    font-weight: 500;
    height: 35px;
    width: 68px;
    font-size: 16px;
    margin-right: 20px;
    cursor: pointer;
    color: white;
}

.shareImgContainer {
    box-sizing: border-box;
    padding: 0 20px 10px 20px;
    position: relative;
    width: 95vw;
}

.shareImg {
    box-sizing: border-box;
    display: block;
    /* margin: auto; */
    margin-top: 20px;
    max-height: 500px;
    object-fit: contain;
    width: 100%;
}

.shareCancelImg {
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
    opacity: 0.7;
}

#text {
    outline: none;
    border: none;
    width: 100%;
    height: 32px;
}

.mydiv {
    max-width: 50rem;
    margin: auto;
    margin-top: 15px;
}

.shareBottom label {
    font-size: 28px;
    color: #5cbb5c;
    margin-left: 20px;
    cursor: pointer;
}

.shareBottom input {
    display: none;
}

.tags_container {
    width: 100%;
    overflow: auto;
    margin-top: 25px;
}

.tags {
    width: max-content;
}

.tag,
.tag2,
.tag3 {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    color: black;
    background: #d7d7d7;
    margin: 5px 10px;
}

.selected {
    background: #00b500;
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.tags_container::-webkit-scrollbar {
    height: 5px;
}

.tagbtn {
    background-color: rgb(133, 133, 247);
    width: auto;
}

.location_icon {
    margin-left: 17px;
    color: rgb(255, 31, 31);
    font-size: 24px;
    cursor: pointer;
}

.location_popup {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10000px 100000px #00000082;
    border-radius: 5px;
}

.cancel_popup {
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    cursor: pointer;
}

.popup_content {
    margin: 20px;
}


.form input,
select {
    width: 80%;
    margin: auto;
    display: block;
    margin-top: 20px;
    /* height: 20px; */
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(206, 206, 206);
    outline: none;
}

.popup_content input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.popup_content label {
    cursor: pointer;
    text-indent: -9999px;
    width: 55px;
    height: 25px;
    background: grey;
    display: block;
    border-radius: 25px;
    position: relative;
}

.popup_content label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 20px;
    transition: 0.3s;
}

.popup_content input:checked+label {
    background: #bada55;
}

.popup_content input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.popup_content label:active:after {
    width: 30px;
}

.userLocation {
    margin-left: 5px;
}

.current_location {
    position: relative;
    left: 5px;
    display: inline-block;
    top: -4px;
    min-width: 330px;
}

@media only screen and (max-width: 650px) {
    .current_location {
        display: none;
    }
}