#lbtn .postTopLeft span {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#lbtn .div_post_left span {
    height: 10px;
    width: 100px;
    border-radius: 0;
    display: block;
}

#lbtn .postText {
    height: 20px;
    width: 100px;
    display: inline-block;
}

#lbtn .like_comments span {
    height: 15px;
    width: 100px;
    display: inline-block;
}

.animated-background {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #bbbbbb 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 70px;
    position: relative;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -800px 0
    }

    100% {
        background-position: 800px 0
    }
}

.background-masker {
    background-color: #fff;
    position: absolute;
}
.postsend{
    width: 100%;
    text-align: center;
    font-size: 25px;
    padding: 10px;
}