.post {
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin: 30px 0;
    position: relative;
}

.postWrapper {
    padding: 10px;
}

.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.postTopLeft {
    display: flex;
    align-items: center;
}

.postProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.liked svg {
    color: red;
}

.disliked svg {
    color: grey;
}

.postUsername {
    font-size: 18px;
    font-weight: 500;
}

.time {
    color: grey;
}

.div_post_left {
    margin-left: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

.postDate {
    font-size: 12px;
}

.postImg {
    margin: 20px 0;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.postCenter {
    position: relative;
    overflow: hidden;
}

.cancel_icon {
    position: absolute;
    right: 16px;
    font-size: 30px;
    top: 35px;
    color: #c9c9c9;
}

.feed {
    flex: 5.5;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    overflow: auto;
}

.feed::-webkit-scrollbar {
    display: none;
}

.feedWrapper {
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

#text {
    outline: none;
    border: none;
    width: 100%;
    height: 32px;
}

.mydiv {
    max-width: 50rem;
    margin: auto;
    margin-top: 15px;
}

.postText {
    margin-left: 20px;
    color: grey;
    font-size: 18px;
}

.postBottom {
    display: flex;
}

.btns {
    width: 50%;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    color: #8d8d8d;
}

.btns svg {
    margin: 0 10px;
}

.btns input {
    padding: 2px;
    border: none;
    /* height: 20px; */
    border-bottom: 1px solid black;
    border-radius: 2px;
    outline: none;
}

.btns button {
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.share_input_box {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
}

.post_hr {
    margin-bottom: 10px;
}

.like_comments {
    display: flex;
    align-self: center;
    justify-content: space-between;
    font-size: 20px;
    padding: 10px;
    color: grey;
}

.like_number svg {
    color: red;
    margin-right: 5px;
}

.comments {
    margin-top: 20px;
}

.addComment {
    /* margin-left: 20px; */
    width: 80%;
    display: flex;
    margin: auto;
    align-items: center;
}

.addComment input {
    height: 40px;
    width: 60%;
    border-radius: 20px;
    outline: none;
    border: 1px solid black;
    margin: 0 10px;
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
}

.addComment button {
    font-size: 18px;
    width: 70px;
    height: 40px;
    outline: none;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(113, 189, 0);
    color: white;
}

/* //////////////////////////////////// */



.menu span {
    color: #3a3c42;
}

.is-dark-background {
    background: #d0d6df;
}

.is-green {
    color: #228B22;
}

.is-purple {
    color: #9665c4;
}

.is-black {
    color: #3a3c42;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.menu h3 {
    margin-block-end: 0px;
}

.menu {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(64, 64, 64, 0.15);
    width: 208px;
    right: 0;
    padding-right: 20px;
    z-index: 1;
    top: 11px;
}

.menu.settings {
    width: 300px !important;
}

.menu-list {
    margin: 0;
    display: block;
    width: 100%;
    padding: 8px;
}

.menu-list,
ul {
    list-style-type: none;
}

.menu-list+.menu-list {
    border-top: 1px solid #ddd;
}

.menu-sub-list {
    display: none;
    padding: 8px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(64, 64, 64, 0.15);
    position: absolute;
    left: 100%;
    right: 0;
    z-index: 100;
    width: 100%;
    top: 0;
    flex-direction: column;
}

.menu-sub-list:hover {
    display: flex;
}

.menu-item {
    position: relative;
}

.menu-button {
    font: inherit;
    color: inherit;
    outline: none;
    border: 0;
    padding: 8px 8px;
    width: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #fff;
}

.menu-button:hover {
    cursor: pointer;
    background-color: #f1f3f7;
}

.menu-button:hover+.menu-sub-list {
    display: flex;
}

.menu-button:hover svg {
    stroke: #3a3c42;
}



.menu-button:hover svg.fa {
    color: #3a3c42;
}

.context-button:hover svg.fa {
    color: #3a3c42;
}

.menu-button svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    stroke: #898c94;
}
.menu-button img {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    stroke: #898c94;
}

.menu-button svg.fa {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    color: #898c94;
}

.context-button svg.fa {
    height: 30px;
    margin-right: 10px;
    color: #898c94;
}

.context-button img {
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;

}

.menu-button svg:nth-of-type(2) {
    margin-right: 0;
    position: absolute;
    right: 8px;
}

.menu-button span:nth-of-type(2) {
    margin-right: 0;
    position: absolute;
    right: 8px;
    font-size: x-small;
}

.menu-button span.second {
    color: #898c94;
    font-size: small;
    margin-left: 5px;
}

.menu-button.tor span:nth-of-type(1) {
    color: #898c94;
    font-size: small;
    margin-left: 5px;
}

.menu-button--delete:hover {
    color: #d92027;
}

.menu-button--delete:hover svg:first-of-type {
    stroke: #d92027;
}

.menu-button--orange svg:first-of-type {
    stroke: #FF6347;
    color: #FF6347;
}

.menu-button--green svg:first-of-type {
    stroke: #228B22;
}

.menu-button--purple svg:first-of-type {
    stroke: #9665c4;
}

.menu-button--black svg:first-of-type {
    stroke: #3a3c42;
}

.menu-button--checked svg:nth-of-type(2) {
    stroke: #9665c4;
}

.status_info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-items: start;
}

/* .yeeet*/

.context-buttons {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    background-color: #fff;
    color: #3a3c42;
}

.context-buttons span {
    padding-left: 40px;
    margin-right: 10px;
}

.context-button {
    font: inherit;
    outline: none;
    border: 0;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #fff;
}

.context-button:hover {
    background-color: #f1f3f7;
}

.context-button:hover+.menu-sub-list {
    display: flex;
}

.context-button:hover svg {
    fill: #3a3c42;
}

.context-button svg {
    width: 100%;

    margin-right: 10px;
    fill: #898c94;
}

.menu-button svg:nth-of-type(2) {
    margin-right: 0;
    position: absolute;
    right: 8px;
}


.settings-button {
    font: inherit;
    outline: none;
    color: inherit;
    border: 0;
    height: 20px;
    border-radius: 8px;
    background-color: #fff;
}

.settings-button:hover {
    background-color: #f1f3f7;
}

.settings-button svg {
    width: 100%;
    height: 100%;
    margin-right: 10px;
}

.break {
    border-top: 1px solid #ddd;
}

.menu-button span.disabled,
.context-button:hover:disabled {
    color: #898c94;
}

.menu-button:hover:disabled,
.context-button:hover:disabled {
    background-color: #fff;
}

.tor {
    padding: 0px 8px !important;
    font-size: small;

}

.tor:hover {
    background-color: #fff;
}

.context-button p {
    height: 10px;
}

/* break */

.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal-window>div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
}

.modal-close {
    color: #3a3c42;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}

.modal-close:hover {
    color: #3a3c42;
}

/* Demo Styles */


.modal-window div:not(:last-of-type) {
    margin-bottom: 15px;
}

.no-link {
    color: inherit;
    text-decoration: none;
}

.post_menu:hover .menu {
    display: flex;
}