.mydiv {
    max-width: 50rem;
    margin: auto;
    margin-top: 15px;
}

.notify_main {
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px 2px #d1d1d1;
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px;
    box-sizing: border-box;
}
.notify_main .readed{
    background-color: rgb(235, 235, 235);
}

.notify_user_profile {
    width: 20%;
}

.notify_user_profile div {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin: auto;
    overflow: hidden;
}

.notify_user_profile div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.notify_text {
    width: 80%;
}

.notify_time {
    color: grey;
}
.readed{
    background: lightgrey;
}